@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
#logo{
  margin-left: 10em;
}
.tab1{
    border-collapse: collapse;
    min-width: 50px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0, 0, 15);
    cursor: pointer;
   margin-left: 350px;
   margin-top: 50px;
    border: 2px solid midnightblue;
    margin-right: 150px;
}
thead, tr {
    color: rgb(16, 14, 14);
    text-align: left;
}

th, td {
    padding: 20px 55px;
}
tbody, td ,tr ,th{
  /*  border: 1px solid #fff;*/
}
.tab2{
    border-collapse: collapse;
    min-width: 200px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0, 0, 15);
    cursor: pointer;
   margin-left: 200px;
   margin-top: 150px;
   margin-right: 100px;
    border: 2px solid midnightblue;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100vh
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 80px;
    text-transform: uppercase;
  }